# Dependencies
node_modules
.pnpm-store
package-lock.json

# Build
dist
.next
out
build
.turbo

# Env
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
.idea
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage

# Misc
*.tsbuildinfo
